- content_for :page_title do
  Committees

.row
  #banner
    .container.intro_wrapper
      .inner_content
        %h1.title
          Startup Victoria Committees
        %h1.intro
          %p
            Our committees all work towards the common goal of seeing more and better founders in Victoria

.container
  %h2
    Why?

  %blockquote
    "Successful startup communities are built around the 'you have to give before you get' credo"
    %footer
      Brad Feld,  
      %cite
        %a{ href: "http://www.startuprev.com/startup-communities-book/", target: "_blank" }
          Startup Communities

      


  %p
    Startup Victoria is a nonprofit member based organisation and it relies heavily on generous help from our many volunteers. In order to coordinate Startup Victoria's quest to strengthen the startup ecosystem in Victoria we have created a range of committees that meet regularly to manage various important streams of activities.

  %p
    All the committees are looking for volunteers so if you would like to be part of Startup Victoria please 
    %a{ href: "/contact-us" }
      contact us. 

.container
  %h2
    Our Committees
  
  .row
    .col-sm-7
      .h4
        Better Founders Committee
      %p
        The Better Founder Groups is an initiative to connect hand picked tech founders so they can share their learnings and as a collective help each other achieve more. The Committee has organised groups of 10 founders who meet once a month for dinner to discuss their experiences in their startups. This is the one place where you don't have to pitch your startup and where you can talk to your peers.
      %p
        If you are a tech founder and you would like to join a group, please 
        %a{ href: "/contact-us" }
          contact us.

    .col-sm-4.col-sm-offset-1
      .row
        .h4
          Chair

      .row
        .col-sm-4
          %a{ href: "https://au.linkedin.com/in/tamos", target: "_blank" }
            = image_tag "committees/tom-amos.jpg", border: "0", class: "img-circle"
            %h3
              Tom Amos

  %hr
  .row
    .col-sm-7
      .h4
        Content Committee
      %p
        This committee is responsible for creating content for the Startup Victoria website, blog and social media. Startup Victoria aims at bringing together a wide range of useful information for people wanting to do a startup and for people already doing a startup.

    .col-sm-4.col-sm-offset-1
      .row
        .h4
          Chair

      .row
        .col-sm-4
          %a{ href: "https://au.linkedin.com/in/ophelielechat", target: "_blank" }
            = image_tag "committees/ophelie-lechat.jpg", border: "0", class: "img-circle"
            %h3
              Ophélie Lechat

  %hr
  .row
    .col-sm-7
      .h4
        Female Founders Committee
      %p
        The vision of the Female Founders Committee is to fulfil the Startup Victoria mission of more founders better founders by addressing the current imbalance of male and female founders, creating an environment that allows women to feel welcome, inspired and empowered to fulfil their high growth startup business dreams.

      = link_to "Learn More", "http://www.femalefounderssvic.strikingly.com/", class: "btn btn-info btn-lg center-block", target: "_blank"

    .col-sm-4.col-sm-offset-1
      .row
        .h4
          Co-Chairs

      .row
        .col-sm-4
          %a{ href: "https://au.linkedin.com/in/michellebourke", target: "_blank" }
            = image_tag "committees/michelle-bourke.jpg", border: "0", class: "img-circle"
            %h3
              Michelle Bourke

        .col-sm-4
          %a{ href: "https://au.linkedin.com/in/marinacaparonetto", target: "_blank" }
            = image_tag "committees/marina-paronetto.jpg", border: "0", class: "img-circle"
            %h3
              Marina Paronetto

  %hr
  .row
    .col-sm-7
      .h4
        Memberships Committee
      %p
        The Membership Committee organised two streams of activities: 1) It manages the many coupons that Startup Victoria members have access to - currently over $30,000 worth of discounts - and 2) It surveys our members so that we can receive feedback about the initiatives that Startup Victoria are organising and ideas for what we should be doing to improve the startup ecosystem in Victoria.
    
    .col-sm-4.col-sm-offset-1
      .row
        .h4
          Chair

      .row
        .col-sm-4
          %a{ href: "https://au.linkedin.com/in/michellebourke", target: "_blank" }
            = image_tag "committees/michelle-bourke.jpg", border: "0", class: "img-circle"
            %h3
              Michelle Bourke

  %hr
  .row
    .col-sm-7
      .h4
        Sponsorship Committee
      %p
        As a nonprofit organisation, Startup Victoria requires corporate sponsorships and government grants to fund its activities. Startup Victoria organises some of the biggest Tech Startup events in Melbourne and with a 4,000+ membership base we are one of the largest entrepreneurship groups in Australia. We are continuously seeking sponsorships from corporates who want to become category sponsors or advertise to our members either through our mailing list or at our events and conferences.

    .col-sm-4.col-sm-offset-1
      .row
        .h4
          Chair

      .row
        .col-sm-4
          %a{ href: "https://au.linkedin.com/in/scotthandsaker", target: "_blank" }
            = image_tag "committees/Scott-Handsaker.png", border: "0", class: "img-circle"
            %h3
              Scott Handsaker

  %hr
  .row
    .col-sm-7
      .h4
        Technology Committee
      %p
        This committee is responsible for the Startup Victoria's website/database management and the development pipeline. Our website is open-sourced and the development road map is shown in Github. 
        
      = link_to "Fork me on Github", "https://github.com/startupvictoria/", class: "btn btn-info btn-lg center-block", target: "_blank"

    .col-sm-4.col-sm-offset-1
      .row
        .h4
          Chair

      .row
        .col-sm-4
          %a{ href: "https://au.linkedin.com/in/lynchjay", target: "_blank" }
            = image_tag "committees/Jay-Lynch.png", border: "0", class: "img-circle"
            %h3
              Jay Lynch

