<div style="min-height:600px;background-color: #ededed">
  <style>
    .trlistin td{padding:20px 0}
  </style>

  <div class="cont">
    <h3 class="redtitle" style="padding:20px 0 10px 0;font-size:27px;">Membership</h3>
    <div style="color:#00a2d3;padding-bottom:30px">
      <i>
        Membership is about community. Solidarity and local support networks
        help build your business success!
      </i>
    </div>

    <table cellspacing="0" cellpadding="0" class="plans">
      <tr>
        <td width="339" valign="top">
          <div style="height: 30px;">&nbsp;</div>
          <div>
            <%= image_tag "highres_331026862.jpeg", width: "339", border: "0", class: "plans-img" %>
          </div>
        </td>
        <td width="121"></td>
        <td width="233" valign="top">
          <div style="height: 30px;">&nbsp;</div>
          <a href="/buy" style="text-decoration:none;cursor:pointer;color:#000;">
            <div class="header" style="padding:20px 0;text-align:
              center;margin-right:20px;background-color: #fff;border-bottom:1px
              solid #ddd;">

              <b>PREMIUM</b>
            </div>
          </a>
          <div class="price" style="font-family:Georgia;color:#bb001c;font-size:60px;margin-right:20px;text-align: center">
            <sup style="font-size:22px">$</sup>99<span style="display:inline-block;color:#9d9d9d;font-size:12px;">/year</span>
          </div>
          <div class="description" style='margin-right: 20px; color: #444444; padding-top: 20px; text-align: center; line-height: 17px; font-weight: bold; font-size: 11px;'>
            If you've already been a highly successful tech start up founder,
            this one's for you!
          </div>
        </td>
        <td width="233" valign="top">
          <div style="height: 30px;">&nbsp;</div>
          <a href="/contact" style="text-decoration:none;cursor:pointer;color:#000;">
            <div class="header" style="padding:20px 0;text-align: center;margin-right:20px;background-color: #fff;border-bottom:1px solid #ddd;">

              <b>BUSINESS</b>
            </div>
          </a>
          <div class="price"
            style="font-family:Georgia;color:#bb001c;font-size:60px;margin-right:20px;text-align: center">
            <sup style="font-size:22px">$</sup>5,000
          </div>
          <div class="description" style='margin-right: 20px; color: #444444; padding-top: 20px; text-align: center; line-height: 17px; font-weight: bold; font-size: 11px;'>
            If you're a business looking to provide servcies to the tech community, this one's for you!
          </div>
        </td>
      </tr>

      <tr class="trlistin">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="trlistin">
        <td>Regular email and blog updates </td>
        <td></td>
        <td style="background-color: #fff;"><center><%= image_tag "yes.png" %></center></td>
        <td style="background-color: #fff;"><center><%= image_tag "yes.png" %></center></td>
      </tr>
      <tr class="trlistin">
        <td>Access to content on our membership site</td>
        <td></td>
        <td style="background-color: #e4e4e4;"><center><%= image_tag "yes.png" %></center></td>
        <td style="background-color: #e4e4e4;"><center><%= image_tag "yes.png" %></center></td>
      </tr>
      <tr class="trlistin">
        <td>A member profile</td>
        <td></td>
        <td style="background-color: #fff;"><center><%= image_tag "yes.png" %></center></td>
        <td style="background-color: #fff;"><center><%= image_tag "yes.png" %></center></td>
      </tr>
      <tr class="trlistin">
        <td>Access to peer networking events</td>
        <td></td>
        <td style="background-color: #e4e4e4;"><center><%= image_tag "yes.png" %></center></td>
        <td style="background-color: #e4e4e4;"><center><%= image_tag "yes.png" %></center></td>
      </tr>
      <tr class="trlistin">
        <td>Participate in virtual office hours</td>
        <td></td>
        <td style="background-color: #fff;"><center><%= image_tag "yes.png" %></center></td>
        <td style="background-color: #fff;"><center><%= image_tag "yes.png" %></center></td>
      </tr>
      <tr class="trlistin">
        <td>Participate in Startup Victoria board elections</td>
        <td></td>
        <td style="background-color: #e4e4e4;"><center><%= image_tag "yes.png" %></center></td>
        <td style="background-color: #e4e4e4;"><center><%= image_tag "yes.png" %></center></td>
      </tr>
      <tr class="trlistin">
        <td>Early access to special offers and event tickets</td>
        <td></td>
        <td style="background-color: #fff;"><center><%= image_tag "yes.png" %></center></td>
        <td style="background-color: #fff;"><center><%= image_tag "yes.png" %></center></td>
      </tr>
      <tr class="trlistin">
        <td>2 individual memberships included in business membership fee</td>
        <td></td>
        <td style="background-color: #e4e4e4;"><center><%= image_tag "no.png" %></center></td>
        <td style="background-color: #e4e4e4;"><center><%= image_tag "yes.png" %></center></td>
      </tr>
      <tr class="trlistin">
        <td>Discounted tickets to Startup Victoria events and workshops</td>
        <td></td>
        <td style="background-color: #fff;"><center><%= image_tag "yes.png" %></center></td>
        <td style="background-color: #fff;"><center><%= image_tag "yes.png" %></center></td>
      </tr>
      <tr class="trlistin">
        <td>Exclusive discounts on products and services for your business</td>
        <td></td>
        <td style="background-color: #e4e4e4;"><center><%= image_tag "yes.png" %></center></td>
        <td style="background-color: #e4e4e4;"><center><%= image_tag "no.png" %></center></td>
      </tr>
      <tr class="trlistin">
        <td>Opportunities to share content with our membership base</td>
        <td></td>
        <td style="background-color: #fff;"><center><%= image_tag "yes.png" %></center></td>
        <td style="background-color: #fff;"><center><%= image_tag "yes.png" %></center></td>
      </tr>
      <tr class="trlistin">
        <td>Offer discounted products/services to our membership base</td>
        <td></td>
        <td style="background-color: #e4e4e4;"><center><%= image_tag "no.png" %></center></td>
        <td style="background-color: #e4e4e4;"><center><%= image_tag "yes.png" %></center></td>
      </tr>
      <tr class="trlistin">
        <td>Participate in virtual office hours or mentorship programs</td>
        <td></td>
        <td style="background-color: #fff;"><center><%= image_tag "yes.png" %></center></td>
        <td style="background-color: #fff;"><center><%= image_tag "no.png" %></center></td>
      </tr>
      <tr class="trlistin">
        <td></td>
        <td></td>
        <td onclick="top.location = '/buy'" style="background-color: #bb001c;color:#fff;cursor: pointer"><center>REGISTER NOW</center></td>
        <td onclick="top.location = '/contact'" style="background-color: #1c1c1c;color:#fff;cursor: pointer"><center>CONTACT US</center></td>
      </tr>
    </table>
    <div style="height:80px;">&nbsp;</div>
  </div>
</div>
