- content_for :spartan_header_footer do
  /

- content_for :page_title do
  Become a member

.membership-new
  .row
    #banner
      .container.intro_wrapper
        .inner_content
          %h2.title
            Become a member

          %h1.intro
            Startup Victoria membership costs only $99 per year.

  .col-sm-6.martop.btm2
    .form-basic.form-horizontal{ role: "form" }
      = form_for(registration_form, url: memberships_url, html: { id: "paymentForm",
          "data-stripe-publishable-key" => "#{StartupVictoria.config.stripe_publishable_key}" }) do |f|

        .form-group
          = label_tag(:full_name, "Full Name", :class => "col-sm-3 control-label")
          .col-sm-9
            = f.text_field :full_name, class: "form-control", placeholder: "Full Name", :autofocus => 'autofocus'

        .form-group
          = label_tag(:email, "Email", :class => "col-sm-3 control-label")
          .col-sm-9
            = f.email_field :email, class: "form-control", placeholder: "me@example.com"

        .form-group
          = label_tag(:password, "Password", :class => "col-sm-3 control-label")
          .col-sm-9
            = f.password_field :password, class: "form-control", placeholder: "Password (at least 6 characters)"

        %br

        .form-group
          = label_tag(:card_number, "Card Number", :class => "col-sm-3 control-label")
          .col-sm-9
            %input{ "data-stripe" => "number", class: "form-control" }

        .form-group
          = label_tag(:expiry_date, "Expiry Date", :class => "col-sm-3 control-label")
          .col-sm-9
            .row
              .col-xs-4
                %select{ class: 'exp_month', id: 'exp_month', name: 'month', "data-stripe" => "exp-month" }
                  %option{ value: "" }
                    Month

                  - [ '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'].each do |mm|
                    %option{ value: mm }
                      = mm

              .col-xs-1

              .col-xs-4
                %select{ class: 'exp_year', id: "exp_year", name: 'year', "data-stripe" => "exp-year" }

                  %option{ value: "" }
                    Year

                  - [ '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'].each do |yyyy|
                    %option{ value: yyyy }
                      = yyyy

        .form-group
          = label_tag(:card_cvc, "CVC", :class => "col-sm-3 control-label")
          .col-sm-3
            %input{ type: "text", class: "form-control", name: "cvc", "data-stripe" => "cvc", value: "" }

        .col-sm-9.col-sm-offset-3
          = render :partial => "shared/on_form_error", :locals => { form: registration_form }
          .on-form-error-message

        .form-group
          .col-sm-5.col-sm-offset-3
            = f.submit "Pay & Register", class: "btn btn-lg btn-primary btn-block"

        .col-sm-9.col-sm-offset-3
          %p
            By completing this form, you agree to our
            %br
            %a{ href: terms_and_conditions_path, target: "_blank" }
              Terms and Conditions

            and

            %a{ href: privacy_path, target: "_blank" }
              Privacy Policy

            %p
              Already have an account?
              <a href="#{login_path}">Login here</a>.

= javascript_include_tag "https://js.stripe.com/v2/"
= javascript_include_tag "membership-new"
= javascript_include_tag "on-form-error"
