<h1>new membership</h1>

<% if registration_form.errors.any? %>
  <ul>
    <% registration_form.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(registration_form, url: memberships_path) do |f| %>
  <%= f.text_field :full_name %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= f.submit "Register" %>
<% end %>
