<div style="min-height:600px;background-color: #ededed">
  <div class="cont">
    <div class="cleanit">
      <h3 class="redtitle" style="padding:20px 0;font-size:27px;">
        Forgot Password?
      </h3>

      <%= form_for(password_reset_form,
                   url: password_resets_url,
                   html: {class: "emailsub", style: "padding: 0 0 60px 0"}) do |f| %>

        <% if password_reset_form.errors.any? %>
          <div class="Form-errors">
            <% password_reset_form.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <div>Email:</div>
        <%= f.email_field :email %>
        <div style="margin-top:5px">
          <button type="submit" class="btn" style="margin-top:10px">
            SEND PASSWORD
          </button>
        </div>
      <% end %>

      <br />

      <div style="line-height: 26px;color:#666">
        <%= link_to "Click here", login_path %> to login.
        <br />
        Don't have an account? <a href="<%= memberships_path %>">Click here</a> to create a new account.<br><br>
      </div>
    </div>
  </div>
</div>
