- content_for :page_title do
  = @coupon.company_name
  coupon for members



.container.martopbtm
  .col-sm-4
    - if @coupon.has_logo?
      = image_tag @coupon.logo_path, border: "0"

  .col-sm-8.coupon-hsep
    %h1
      Company Name
    %p
      = @coupon.company_name

    %h1
      Company URL
    %a{"href" => @coupon.company_url}
      = @coupon.company_url
    

    %h1
      About
    %p
      = @coupon.company_about

    %h1
      Coupon
    %p
      = @coupon.description

    - if logged_in?
      %h1
        How to redeem
      %p
        = @coupon.how_to_redeem.html_safe
        - if @coupon.how_to_redeem.include? "membership number"
          %br
          %br
          Your Startup Victoria Membership number is
          = "#{current_user.membership_number}."
