%div{ style: "min-height:600px;background-color: #ededed" }
  .cont
    %h3.redtitle{ style: "padding:30px 0 10px 0;font-size:27px;" }
      Coupon brought to you by
      = @coupon.company_name

    %br

    .cleanit
      .member-offers{ style: "float:left;width:742px;" }

        %table
          %tr
            %td{ valign: "top", width: "260" }
              = image_tag @coupon.logo_path, border: "0"

            %td{ valign: "top", style: "font-size:16px"}
              %div{ style: "font-weight: bold;margin-bottom:5px" }
                Company Name:
              %div{ style: "margin-bottom:25px" }
                = @coupon.company_name

              %div{ style: "font-weight: bold;margin-bottom:5px" }
                Company URL:
              %div{ style: "margin-bottom:25px" }
                %a{ href: @coupon.company_url, target: "_blank" }
                  = @coupon.company_url

              %div{ style: "font-weight: bold;margin-bottom:5px" }
                About:
              %div{ style: "margin-bottom:25px" }
                = @coupon.company_about

              %div{ style: "font-weight: bold;margin-bottom:5px" }
                Coupon:
              %div{ style: "margin-bottom:25px" }
                = @coupon.description

              - if logged_in?
                %div{ style: "font-weight: bold;margin-bottom:5px" }
                  How to redeem:
                %div{ style: "margin-bottom:25px" }
                  = @coupon.how_to_redeem.html_safe
