- content_for :page_title do
  = @coupon.company_name
  coupon for members

.row
  %h3
    Coupon brought to you by
    = @coupon.company_name

.row
  .col-sm-4
    - if @coupon.has_logo?
      = image_tag @coupon.logo_path, border: "0"

  .col-sm-8.coupon-hsep
    %h4
      Company Name
    %p
      = @coupon.company_name

    %h4
      Company URL
    %p
    = @coupon.company_url

    %h4
      About
    %p
      = @coupon.company_about

    %h4
      Coupon
    %p
      = @coupon.description

    - if logged_in?
      %h4
        How to redeem
      %p
        = @coupon.how_to_redeem.html_safe
        - if @coupon.how_to_redeem.include? "membership number"
          %br
          %br
          Your Startup Victoria Membership number is
          = "#{current_user.membership_number}."
