.col-sm-4{ "itemscope" => true, "class" => "person #{person.role}", "itemtype" => "http://data-vocabulary.org/Person"}
  %center

    = image_tag "persons/#{person.image_filename}", border: "0", class: "img-circle", "itemprop" => "photo", width: "140", height: "140"

    %h3{"itemprop" => "name"}
      = person.name_linked_to

    %p{"itemprop" => "role"}
      = person.bio

    %meta{"itemprop" => "affiliation", "content" => "Startup Victoria"}
