.nav
  .cont
    .dropdown
      %ul
        %li
          = link_to "Home", "/", class: "mainlink"
        %li
          = link_to "About", "/about", class: "mainlink"
        %li
          = link_to "Membership", "/plans", class: "mainlink"
        %li
          = link_to "Coupons", "/coupons", class: "mainlink"
        %li
          = link_to "Contact", new_contact_path, class: "mainlink"
        %li
          - if logged_in? && current_user.admin?
            = link_to "Admin", "/admin", class: "mainlink", style: "color: red"

    %a.facebook{ href: "https://www.facebook.com/StartupVictoria", rel: "nofollow", target: "_blank" }
      = image_tag "facebook.png", border: "0", alt: "facebook"

    %a.twitter{ href: "https://twitter.com/startupvic", rel: "nofollow", target: "_blank" }
      = image_tag "twitter.png", border: "0", alt: "twitter"
