- content_for :page_title do
  Sponsors

.row
  #banner
    .container.intro_wrapper
      .inner_content
        %h1.title
          Sponsors
        %h1.intro
          %p
            Startup Victoria thanks our generous sponsors for enabling us to continue to provide our services to the entrepreneurial community.

.container
  .row
    .col-xs-12
      .categorysponsors
        %h2
          Category Sponsors
        .row
          .gallery1
            %ul.itemContainer
              %li
                .col-xs-12.col-sm-6.col-md-3
                  %a{ href: "http://www.vic.gov.au", target: "_blank"}
                    = image_tag "victoria_state.png"
              %li
                .col-xs-12.col-sm-6.col-md-3
                  %a{ href: "http://www.elance-odesk.com", target: "_blank"}
                    = image_tag "elanceodesk.jpg"
              %li
                .col-xs-12.col-sm-6.col-md-3
                  %a{ href: "http://www.pwc.com.au", target: "_blank"}
                    = image_tag "Pwc.png"

      .corporatemembers
        %h2
          Corporate Members
        .row
          .gallery1
            %ul.itemContainer
              %li
                .col-xs-12.col-sm-6.col-md-3
                  %a{ href: "http://www.sitepoint.com", target: "_blank"}
                    = image_tag "Sitepoint.jpg"
              %li
                .col-xs-12.col-sm-6.col-md-3
                  %a{ href: "http://www.envato.com", target: "_blank"}
                    = image_tag "Envato.jpg"
              %li
                .col-xs-12.col-sm-6.col-md-3
                  %a{ href: "http://www.nicta.com.au", target: "_blank"}
                    = image_tag "NICTA.jpg"  
              %li
                .col-xs-12.col-sm-6.col-md-3
                  %a{ href: "http://myob.com.au", target: "_blank"}
                    = image_tag "MYOB.jpg"
              %li
                .col-xs-12.col-sm-6.col-md-3
                  %a{ href: "http://adventurecapital.vc", target: "_blank"}
                    = image_tag "ACVM.png"
              %li
                .col-xs-12.col-sm-6.col-md-3
                  %a{ href: "http://99designs.com.au", target: "_blank"}
                    = image_tag "99-Designs-Logo.jpg"

      .ongoingeventsponsors
        %h2
          Ongoing Event And Product Sponsors
        .row
          .gallery1
            %ul.itemContainer
              %li
                .col-xs-12.col-sm-6.col-md-3
                  %a{ href: "http://www.bluechilli.com", target: "_blank"}
                    = image_tag "Blue_Chilli.png"
              %li
                .col-xs-12.col-sm-6.col-md-3
                  %a{ href: "http://www.campaignmonitor.com", target: "_blank"}
                    = image_tag "campaign_monitor.png"
              %li
                .col-xs-12.col-sm-6.col-md-3
                  %a{ href: "http://www.campaignmonitor.com", target: "_blank"}
                    = image_tag "Schwarz-&-Reynolds-Logo.jpg"
