- content_for :page_title do
  Sponsors

.row
  #banner
    .container.intro_wrapper
      .inner_content
        %h1.title
          Sponsors
        %h1.intro
          %p
            Startup Victoria thanks our generous sponsors for enabling us to continue to provide our services to the entrepreneurial community.

.container.wrapper
  .categorysponsors
    %h1.intro
      Category Sponsors
    .row
      .gallery1
        %ul#itemContainer
          %li
            .col-xs-12.col-sm-6.col-md-3
              = image_tag "victoria_state.png"
              .pad15
          %li
            .col-xs-12.col-sm-6.col-md-3
              = image_tag "elanceodesk.jpg"
              .pad15
          %li
            .col-xs-12.col-sm-6.col-md-3
              = image_tag "Pwc.png"
              .pad15


  .corporatemembers
    %h1.intro
      Corporate Members
    .row
      .gallery1
        %ul#itemContainer
          %li
            .col-xs-12.col-sm-6.col-md-3
              = image_tag "Sitepoint.jpg"
              .pad15
          %li
            .col-xs-12.col-sm-6.col-md-3
              = image_tag "Envato.jpg"
              .pad15
          %li
            .col-xs-12.col-sm-6.col-md-3
              = image_tag "NICTA.jpg"
              .papng
          %li
            .col-xs-12.col-sm-6.col-md-3
              = image_tag "MYOB.jpg"
              .pad15
          %li
            .col-xs-12.col-sm-6.col-md-3
              = image_tag "ACVM.png"
              .pad15
          %li
            .col-xs-12.col-sm-6.col-md-3
              = image_tag "campaign_monitor.png"
              .pad15


  .ongoingeventsponsors
    %h1.intro
      Ongoing Event And Product Sponsors
    .row
      .gallery1
        %ul#itemContainer
          %li
            .col-xs-12.col-sm-6.col-md-3
              = image_tag "Blue_Chilli.png"
              .pad15
          %li
            .col-xs-12.col-sm-6.col-md-3
              = image_tag "campaign_monitor.png"
              .pad15


