- content_for :page_title do
  Sponsors

.row
  #banner
    .container.intro_wrapper
      .inner_content
        %h1.title
          Sponsors
        %h1.intro
          %p
            Startup Victoria thanks our generous sponsors for enabling us to continue to provide our services to the entrepreneurial community.

.container.wrapper
  .categorysponsors
    %h1.intro
      Sustaining Partners
    .row
      .gallery1
        %ul#itemContainer
          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.vic.gov.au", target: "_blank"}
                = image_tag "victoria_state_gov.png"
                .pad15
          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.pwc.com.au", target: "_blank"}
                = image_tag "Pwc.png"
                .pad15


  .corporatemembers
    %h1.intro
      Startup Victoria Supporters
    .row
      .gallery1
        %ul#itemContainer
          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "https://www.akamai.com", target: "_blank"}
                = image_tag "supporters/akamai.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.coghlan.co/", target: "_blank"}
                = image_tag "supporters/coghlan.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.mitchellake.com/", target: "_blank"}
                = image_tag "supporters/mitchell-lake.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.oneledger.com.au/", target: "_blank"}
                = image_tag "supporters/oneledger.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.sitepoint.com/", target: "_blank"}
                = image_tag "supporters/sitepoint.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.softlayer.com/", target: "_blank"}
                = image_tag "supporters/softlayer.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.sportsbet.com.au/", target: "_blank"}
                = image_tag "supporters/sportsbet.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.wadeinstitute.org.au/", target: "_blank"}
                = image_tag "supporters/wade-institute.jpg"
                .pad15

  .ongoingeventsponsors
    %h1.intro
      Ongoing Event And Product Sponsors
    .row
      .gallery1
        %ul#itemContainer
          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.bluechilli.com", target: "_blank"}
                = image_tag "Blue_Chilli.png"
                .pad15
          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.campaignmonitor.com", target: "_blank"}
                = image_tag "campaign_monitor.png"
                .pad15
          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.campaignmonitor.com", target: "_blank"}
                = image_tag "Schwarz-&-Reynolds-Logo.jpg"
                .pad15

