- content_for :page_title do
  Sponsors

.row
  #banner
    .container.intro_wrapper
      .inner_content
        %h1.title
          Sponsors
        %h1.intro
          %p
            Startup Victoria thanks our generous sponsors for enabling us to continue to provide our services to the entrepreneurial community.

.container.wrapper
  .categorysponsors
    %h1.intro
      Sustaining Partners
    .row
      .gallery1
        %ul#itemContainer
          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.vic.gov.au", target: "_blank"}
                = image_tag "supporters/victoria-state-gov.png"
                .pad15
          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.pwc.com.au", target: "_blank"}
                = image_tag "supporters/pwc.png"
                .pad15


  .corporatemembers
    %h1.intro
      Startup Victoria Supporters
    .row
      .gallery1
        %ul#itemContainer
          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "https://www.akamai.com", target: "_blank"}
                = image_tag "supporters/akamai.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "https://aws.amazon.com/activate/", target: "_blank"}
                = image_tag "supporters/aws.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.blackbird.vc/", target: "_blank"}
                = image_tag "supporters/blackbird-ventures.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.coghlan.co/", target: "_blank"}
                = image_tag "supporters/coghlan.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "https://crownbet.com.au/", target: "_blank"}
                = image_tag "supporters/crownbet.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.giantleapfund.vc/", target: "_blank"}
                = image_tag "supporters/giantleap.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "https://www.ibisworld.com/", target: "_blank"}
                = image_tag "supporters/ibisworld.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.mitchellake.com/", target: "_blank"}
                = image_tag "supporters/mitchell-lake.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.oneledger.com.au/", target: "_blank"}
                = image_tag "supporters/oneledger.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.pitcherpartners.com.au/", target: "_blank"}
                = image_tag "supporters/pitcher-partners.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.sitepoint.com/", target: "_blank"}
                = image_tag "supporters/sitepoint.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.softlayer.com/", target: "_blank"}
                = image_tag "supporters/softlayer.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.sportsbet.com.au/", target: "_blank"}
                = image_tag "supporters/sportsbet.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.wadeinstitute.org.au/", target: "_blank"}
                = image_tag "supporters/wade-institute.jpg"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.weployapp.com/", target: "_blank"}
                = image_tag "supporters/weploy.png"
                .pad15

          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "https://www.zendesk.com/", target: "_blank"}
                = image_tag "supporters/zendesk.png"
                .pad15

  .ongoingeventsponsors
    %h1.intro
      Ongoing Event And Product Sponsors
    .row
      .gallery1
        %ul#itemContainer
          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.bluechilli.com", target: "_blank"}
                = image_tag "supporters/blue-chilli.png"
                .pad15
          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.campaignmonitor.com", target: "_blank"}
                = image_tag "supporters/campaign-monitor.png"
                .pad15
          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.collectivecamp.us/", target: "_blank"}
                = image_tag "supporters/collective-campus.png"
                .pad15
          %li
            .col-xs-12.col-sm-6.col-md-3
              %a{ href: "http://www.campaignmonitor.com", target: "_blank"}
                = image_tag "supporters/schwarz-reynolds.png"
                .pad15
