.row.contact-page
  .col-sm-5
    %h2
      Send Us An Email

    .form-basic{ role: "form" }
      = form_for(contact_form, url: contacts_path) do |f|

        = f.text_field :full_name, class: "form-control", placeholder: "Full Name", :autofocus => 'autofocus'

        = f.email_field :email, class: "form-control", placeholder: "me@example.com"

        = f.text_field :subject, class: "form-control", placeholder: "Subject"

        = f.text_area :message, class: "form-control", id: "contact-us-form-text-area", placeholder: "Message"

        - if contact_form.errors.any?

          %ul.list-unstyled.on-form-error-message
            - contact_form.errors.full_messages.each do |message|
              %li
                = message

        %button.btn.btn-lg.btn-primary.btn-block{ type: "submit" }
          Send

  .col-sm-5.col-sm-offset-1
    %h2
      Our Location

    .contact-map#contact-map-header

    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"

    :javascript
      contact_map_initialise();

= javascript_include_tag "on-form-error"
