- content_for :page_title do
  Contact Us

.full-width-container
  .container
    %h1.title.martop
      Contact Us

    .col-md-8
      .form-basic{ role: "form" }
        = form_for(contact_form, url: contacts_path) do |f|

          .row
            .col-md-10
              %h3
                %p
                  We'd love to hear from you!
                %p
                  For a general question, use the form and we'll aim to reply within 24 hours.
                %p
                  For a specific question for one of our staff, reach out to them directly (below).

          .row
            .col-md-2
              Name
            .col-md-8
              = f.text_field :full_name, class: "form-control", placeholder: "Full Name", :autofocus => 'autofocus'

          .row
            .col-md-2
              Email
            .col-md-8
              = f.email_field :email, class: "form-control", placeholder: "me@example.com"

          .row
            .col-md-2
              Subject
            .col-md-8
              = f.text_field :subject, class: "form-control", placeholder: "Subject"

          .row
            .col-md-2
              Message
            .col-md-8
              = f.text_area :message, class: "form-control", placeholder: "Message"

          .row
            = render :partial => "shared/on_form_error", :locals => { form: contact_form }

          .row
            .col-md-8.col-md-offset-2
              %button.btn.btn-lg.btn-primary.btn-block{ type: "submit" }
                Send


    .col-md-4
      %h2
        Our Physical Address

      %p
        Management moves between various co-working spaces in Melbourne so as to spread the love.

      %p
        Come visit us!  Currently, Monday-Thursday we're at:

      %address
        York Butter Factory
        %br
        66 King St
        %br
        Melbourne, Australia
        %br
        %br
        Friday's we're at: 99designs, 2/41 Stewart St, Richmond.

      %h2
        Our Postal Address:

      %address
        PO Box 298
        %br
        Flinders Lane
        %br
        VIC 8009, Australia
        %br

    .col-md-12
      %h1.title.martop
        Staff

      - Person.staff.each do |p|
        - p = p.decorate context: { href_style: :email }
        = render :partial => "shared/person", :locals => { person: p }

= javascript_include_tag "on-form-error"
