- content_for :page_title do
  Contact Us

.full-width-container
  .container
    %h1.title.martop
      Contact Us

  .container
    .col-sm-6.col-md-4
      %h3
        Please feel free to send us an email or fill in our handy contact form. We aim to reply within 24 hours.

      .addressinfo
        %span
          Address
        %br
        Level 2
        %br
        41-43 Stewart st,
        %br
        Richmond,
        %br
        VIC, 3121
        %br
        Australia
        %br
        %br
        %span
          Email
        %br
        %a{"href" => "mailto:hello@startupvictoria.com.au "}
          hello@startupvictoria.com.au 

    .col-sm-6.col-md-8
      .form-basic{ role: "form" }
        = form_for(contact_form, url: contacts_path) do |f|
          .formrow1
            %p
              Name
              %span.required
                *
            = f.text_field :full_name, class: "form-control", placeholder: "Full Name", :autofocus => 'autofocus'
          .formrow1
            %p
              Email
              %span.required
                *
            = f.email_field :email, class: "form-control", placeholder: "me@example.com"

          .formrow1
            %p
              Subject
              %span.required
                *
            = f.text_field :subject, class: "form-control", placeholder: "Subject"

          .formrow1
            %p
              Message
              %span.required
                *
            = f.text_area :message, class: "form-control", placeholder: "Message"

          = render :partial => "shared/on_form_error", :locals => { form: contact_form }

          .formrow1btn
            %button.btn.btn-lg.btn-primary.btn-block{ type: "submit" }
              Send


= javascript_include_tag "on-form-error"
