.row.contact-page
  .col-sm-6.col-sm-offset-1
    %h2
      Send Us An Email

    .form-basic{ role: "form" }
      = form_for(contact_form, url: contacts_path) do |f|

        = f.text_field :full_name, class: "form-control", placeholder: "Full Name", :autofocus => 'autofocus'

        = f.email_field :email, class: "form-control", placeholder: "me@example.com"

        = f.text_field :subject, class: "form-control", placeholder: "Subject"

        = f.text_area :message, class: "form-control", id: "contact-us-form-text-area", placeholder: "Message"

        = render :partial => "shared/on_form_error", :locals => { form: contact_form }

        %button.btn.btn-lg.btn-primary.btn-block{ type: "submit" }
          Send

  .col-sm-3.col-sm-offset-1
    %h2
      Our office

    = image_tag "startup-victoria-office-location-300x210.png"

    %p
      = link_to "View this Map", "https://www.google.com/maps/@-37.8239522,144.9910936,14z"

    %hr

    %p
      Level 1
      %br
      41-43 Stewart st
      %br
      Richmond
      %br
      3121

= javascript_include_tag "on-form-error"
