.row.contact-page
  .col-sm-5
    %h2
      Send Us An Email

    .form-basic{ role: "form" }
      = form_for(contact_form, url: contacts_path) do |f|

        = f.text_field :full_name, class: "form-control", placeholder: "Full Name", :autofocus => 'autofocus'

        = f.email_field :email, class: "form-control", placeholder: "me@example.com"

        = f.text_field :subject, class: "form-control", placeholder: "Subject"

        = f.text_area :message, class: "form-control", id: "contact-us-form-text-area", placeholder: "Message"

        = render :partial => "shared/on_form_error", :locals => { form: contact_form }

        %button.btn.btn-lg.btn-primary.btn-block{ type: "submit" }
          Send

  .col-sm-5.col-sm-offset-1
    %h2
      Our Location

    .contact-map#contact-map-header{ "data-map-pin-image" => "#{asset_path('map-pin.png')}",
      "data-office-location" => "<b>Office</b><br><br>Level 1, 41 Stewart St,<br><br>Richmond, Victoria, 3121" }

= javascript_include_tag "contact-map"
= javascript_include_tag "on-form-error"
