- content_for :spartan_header_footer do
  /

%div.form-basic.login-form{ role: "form" }
  = form_for(log_in_form, url: authenticate_url) do |f|

    %h2.form-basic-heading
      Login

    = f.email_field :email, class: "form-control", placeholder: "Email address", :autofocus => 'autofocus'

    .form-group.on-form-error-group
      = f.password_field :password, class: "form-control on-form-error-focus", placeholder: "Password"

    = render :partial => "shared/on_form_error", :locals => { form: log_in_form }

    %button.btn.btn-lg.btn-primary.btn-block{ type: "submit" }
      Login

= javascript_include_tag "on-form-error"
