<div style="min-height:600px;background-color: #ededed">
  <div class="cont">
    <div class="cleanit">
      <h3 class="redtitle" style="padding:20px 0;font-size:27px;">Login</h3>

      <%= form_for(log_in_form,
                   url: authenticate_url,
                   html: {class: "emailsub", style: "padding: 0 0 60px 0"}) do |f| %>

        <div>Email:</div>
        <%= f.email_field :email %>
        <div style="margin-top:15px">Password:</div>
        <%= f.password_field :password %>
        <div style="margin-top:5px">
          <button type="submit" class="btn" style="margin-top:10px">Login</button>
        </div>
      <% end %>
      <br>
      <div style="line-height: 26px;color:#666">
        Forgot password? <a href="<%= password_resets_path  %>">Click here</a> to get a new password.<br>
        Don't have an account? <a href="<%= memberships_path %>">Click here</a> to create a new account.<br><br>
      </div>
    </div>
  </div>
</div>
