<!DOCTYPE html>
%html
  %head
    %title
      = content_for?(:page_title) ? yield(:page_title) + " - Startup Victoria" : 'Startup Victoria'

    %meta{ "http-equiv" => "Content-Type", content: "text/html; charset=UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ name: "description", content: "" }
    %meta{ name: "keywords", content: "" }

    = stylesheet_link_tag 'application', media: 'all', "data-turbolinks-track" => true

    = javascript_include_tag "application", "data-turbolinks-track" => true

    = csrf_meta_tags

  %body
    = render "shared/primary_navigation"

    .container
      = render "shared/flash_messages"

      = yield

    - if !content_for? :spartan_header_footer
      = render "shared/footer"
