<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
      Startup Victoria
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <%= javascript_include_tag "jquery.form.js" %>
    <%= javascript_include_tag "jquery.creditCardValidator.js" %>
    <%= javascript_include_tag "main.js" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="Header">
      <div class="Header-content">
        <div class="fl">
          <a href="/" title="Homepage">
            <img class="Header-logo" src="assets/logo.png" alt="startup victoria logo"/>
          </a>
        </div>
        <% if logged_in? %>
          <a href="<%= logout_url %>" class="Header-btn">Logout</a>
        <% else %>
          <a href="<%= login_url %>" class="Header-btn">Login</a>
        <% end %>
      </div>
    </div>
    <%= flash[:notice] %>
    <%= render "shared/primary_navigation" %>
    <div class="Page">
      <%= yield :before_page %>
      <div class="Page-content">
        <%= yield %>
      </div>
      <%= yield :after_page %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
