<!DOCTYPE html>
%html
  %head
    %title
      = content_for?(:page_title) ? yield(:page_title) + " - Startup Victoria" : 'Startup Victoria'

    %meta{ "http-equiv" => "Content-Type", content: "text/html; charset=UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ name: "description", content: "" }
    %meta{ name: "keywords", content: "" }


    /[if IE 9]
      %link{"href" => "/assets/ie/browserie9.css" , "media" => "all" , "rel" => "stylesheet"}

    = stylesheet_link_tag 'application', media: 'all', "data-turbolinks-track" => true

    = javascript_include_tag "application", "data-turbolinks-track" => true

    = favicon_link_tag "favicon.png"

    = csrf_meta_tags

    %link{"href" => "http://fonts.googleapis.com/css?family=Lato:400,700,300" , "rel" => "stylesheet" , "type" => "text/css"}

  %body
    = render "shared/primary_navigation"

    %div.fullwidth-container
      = render "shared/flash_messages"

      = content_for?(:nested_layout) ? yield(:nested_layout) : yield

    - if !content_for? :spartan_header_footer
      = render "shared/footer"
